<h1>Discover Your Interests</h1>
<h2>Tell us about yourself</h2>
<ul id="questions">
<% 
	@i = 1;
	while @i <= 60  do
%>
	<li class="question" id="question_<%= @i%>">
		<ul>
			<li class="text">This is question <%= @i%></li>
			<li class="option yes"><a href="#<%= @i%>_1">Yes</a></li>
			<li class="option no"><a href="#<%= @i%>_0">No</a></li>
			<li class="option maybe"><a href="#<%= @i%>_0">Maybe</a></li>			
		</ul>
	</li>
<% 
	@i +=1;
	end
%>
</ul>