<!DOCTYPE html>
<html>
<head>
<title>Career Transitions</title>
<%= stylesheet_link_tag :all %>
<%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag :defaults %>
<%= javascript_include_tag "lazyQuiz.js" %>
</body>
</html>
